<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your EJS File</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Register</h1>

    <form method="post" action="/auth/register">
        <div>
            <label for="login">Login</label>
            <input name="login" id="login" />
        </div>

        <div>
            <label for="password">Password</label>
            <input name="password" id="password" />
        </div>

        <div>
            <button>Submit</button>
        </div>

    </form>
</body>

</html>